.FightBox {
    display: flex;
    justify-content: center;
}

.winner {
    text-decoration: none;
    font-size: 80px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
    background: rgba(61, 9, 9, 0.79);
    color: red;
    width: 300px;
    height: 150px;
    margin-top: 20px;
}