.Navigation {
    display: flex;
    justify-content: space-around;
    background: rgba(128, 128, 128, 0.57);
    border-radius: 15px;
    padding: 20px;
    margin-top: 5%;
    margin-left: 20px;
    margin-right: 30px;
}

.link {
    text-decoration: none;
    font-size: 26px;
    text-transform: uppercase;
    display: block;
    padding: 10px;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.69);
    color: red;
}

.active{
    color: white;
}