.winnerPlayer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.65);
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert {
    color: white;
    font-size: 50px;
}

.back {
    text-decoration: none;
    font-size: 18px;
    margin-top: 10px;
    color: red;
    background: rgba(204, 204, 204, 0.8);
    padding: 5px;
    border-radius: 15px;
    display: inline-block;
}

.winner-box{
    background: black;
    border-radius: 25px;
    border: 5px solid gray;
    padding: 50px;
}

.winner-name{
    font-size: 60px;
    color: red;
}